@keyframes loading {
  100% {
    transform: rotate(180deg);
  }
}

@mixin rotar ($size) {
  content: "";
  display: flex;
  margin: 0 auto;
  width: $size;
  height: $size;
  border-radius: 50%;

  .centro {
    margin: 10px auto;
    width: $size - 20;
    height: $size - 20;
    border-radius: 50%;
    background-color: var(--bg);
  }
}

:root {
  --bg: gray;
  --bg-dg-color2: lightgreen;
  --btn-gallery-nav: 50px;
  --btn-gallery-nav-pos-x: 30px;
  --load-color: green;
  --thumbs-time: .3s;
}

.img {
  user-select: none;
  cursor: pointer;
}

.precarga {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-dg-color2);
  text-align: center;

  transition: top linear 1s;

  .icono-preload,
  .cargado {
    display: inherit;
    position: relative;
    justify-content: inherit;
    align-items: inherit;
    width: 50vw;
    max-width: 300px;
    height: 50vw;
    max-height: 300px;
    text-align: center;
    font-size: 5vw;
    @media (min-width:900px) {
      font-size: 28px;
    }
    color: var(--load-color);
  }

  .icono-preload {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: {
        style: solid;
        width: 30px;
        color: var(--load-color) transparent var(--load-color) transparent;
        radius: 50%;
      }
      box-sizing: border-box;

      animation: loading linear 1s infinite;
    }
  }
}

.seguir {
  display: none;
}

.no-scroll-bar {
  overflow: hidden;
}

.galeria {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(120px, 120px));
  gap: 5px;

  margin: 0 auto;

  .img {
    position: relative;
    overflow: hidden;
    border-radius: 25%;

    filter: grayscale(80%);

    transition: filter var(--thumbs-time);

    &::before {
      content: "Click aquí…";
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      position: absolute;
      padding-top: 30px;
      top: -100%;
      width: 100%;
      height: 100%;
      background: {
        color: rgba(black, .7);
        image: url('/img/gallery.png');
        position: center 40%;
        size: 40px;
        repeat: no-repeat;
      }
      font: {
        size: .8em;
        weight: bold;
      }
      color: white;
      box-sizing: border-box;
      pointer-events: none;

      transition: top var(--thumbs-time);
    }

    &:hover {
      filter: grayscale(0);

      &::before {
        top: 0;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 25px;
    }
  }
}

#img-fondo {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(black, .9);

  #cerrar {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 1.6rem;
  }

  #prev,
  #next {
    display: block;
    position: absolute;
    top: calc(50% - var(--btn-gallery-nav) / 2);
    width: var(--btn-gallery-nav);
    height: var(--btn-gallery-nav);
    background-image: linear-gradient(45deg, transparent 50%, rgba(white, .2) 50%);
  }

  #prev {
    left: var(--btn-gallery-nav-pos-x);
    transform: rotate(-135deg);
  }

  #next {
    right: var(--btn-gallery-nav-pos-x);
    transform: rotate(45deg);
  }

  img {
    display: block;
    position: relative;
    max-width: 80%;
    max-height: 80%;
    border-radius: 25px;
  }

  #img-copete {
    color: lightgray;
    font: {
      weight: bold;
      size: 1.6rem;
    }
    text-align: center;
  }
}

#img-fondo.mostrar-img {
    display: flex;
}